<div class="card shadow-sm animate-fadeIn">
  <figure class="">
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      [routerLink]="['/product/',product().slug]"
      class="card-title font-montserrat text-xl cursor-pointer hover:underline"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice: 0:70 }}...</p>
    <div class="card-actions justify-end">
      <a class="link link-primary" [routerLink]="['/product', product().slug]"
        >Ver producto</a
      >
    </div>
  </div>
</div>
